html,body {
    height: 100%;
}

body {
    background: #660033;
}

p {
    margin: 0;
    padding: 0;
}

#clock{
    font-family: 'Share Tech Mono', monospace;
    color: red;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: yellow;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time {
    letter-spacing: 0.05em;
    font-size: 70px;
    padding: 5px 0;
}

.date {
    letter-spacing: 0.1em;
    font-size: 20px;
    padding: 20px 0 0 ;
}

.text {

}